@using FoodDA.Models
@model NguoiDung
    <head>
        <script src="~/Content/JavaScript/ChangedPassword.js"></script>
    </head>
<div id="Login">
    @using (Html.BeginForm("ChangePassword", "NguoiDungs", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h1>@ViewBag.thongbao</h1>
            <div class="form-group--login">
                <div class="NoiDung__dangnhap">Ten dang nhap:</div>
                <div class="col-md-input-login">
                    <input type="text" name="txtEmail" id="txtEmail"/>
                    <div class="error__message__usernameChanged">
                    </div>
                </div>
            </div>
            <div class="form-group--login">
                <div class="NoiDung__dangnhap">Mat khau cu:</div>
                <div class="col-md-input-login">
                    <input type="password" name="txtpassWordOld" id="txtOldPassWord"/>
                    <div class="error__message__passwordChanged"></div>
                </div>
            </div>
            <div class="form-group--login">
                <div class="NoiDung__dangnhap">Mat khau cu:</div>
                <div class="col-md-input-login">
                    <input type="password" name="txtPassWordNew" id="txtNewPassWord"/>
                    <div class="error__message__passwordCheckinChanged">
                    </div>
                </div>
            </div>
            <div class="form-group--login"><input type="submit" value="Change" class="btn btnlogin" onclick="return validatorChangedPassWord()"/></div>
        </div>
    }
</div>
