

@model FoodDA.Models.NguoiDung

@{
    ViewBag.Title = "ForgotPassWord";

}
<head>
    <link href="~/Content/Trang chu/ForgotPassword.css" rel="stylesheet" />
</head>
<div id="Forgot">
    @using (Html.BeginForm("ForgotPassWord", "NguoiDungs", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h1>@ViewBag.thongbao</h1>
            <h2 class="quenmatkhau"> Quên mật khẩu</h2>
            <div class="form__forgotPassword">
                <div class="NoiDung__ForgotPassword">Email: </div>
                <div class="col-md-input-forgotPassword">
                    @Html.EditorFor(model => model.UserName , new { htmlAttributes = new { @class = "form-control form-control__email", @id = "Email__UserNAme" } })
                </div>
            </div>
            <form class="form-group--forgotPassword">
            <input type="submit" value="Gửi Email Link" class="btn btnlogin btnlogin__forget" />
            </form>
        </div>
    }
</div>

