

.img1__Soup {
    position: relative;
    width: 222px;
}

.img2__Soup {
    top: 0px;
    width: 222px;
    position: absolute;
}

.img3__Soup {
    width: 222px;
    top: 0px;
    position: absolute;
}

header#partial__chude__Soup {
    margin-top: 0px;
    position: absolute;
    top: 920px;
}

.Congthuc__soup {
    margin-left: 714px;
    position: relative;
    margin-top: 43px;
}

.border__all__Soup {
    background-size: cover;
    border-color: white;
    width: 277px;
    height: 1021px;
    position: absolute;
    border-style: solid;
    left: 683px;
    top: 898px;
    background-image: url('../../IMG/IMGtrngchu/panthermedia_b63432407_5298x3672.jpg');
}

.Soup {
    BACKGROUND-COLOR: TRANSPARENT;
    POSITION: absolute;
    COLOR: white;
    TOP: 918PX;
    Z-INDEX: 1;
    FONT-FAMILY: cursive;
    LEFT: 747PX;
    FONT-SIZE: 22PX;
}

.Soup__border {
    top: 100px;
    left: -21px;
    border: solid 1px;
    position: absolute;
    width: 260px;
    /* border-style: ridge; */
    /* border: ridge 1px; */
    /* border-style: dashed; */
    /* opacity: 0; */
    z-index: 2;
    border-color: rgb(204 118 118);
    opacity: 0;
}




.tinto__Soup:hover .pink__Soup {
    opacity: 0;
    transition: 1s;
}

.tinto__Soup:hover .Soup__gadient {
    opacity: 0;
}

.tinto__Soup:hover a {
    transition: 1s;
    opacity: 1;
    visibility: visible;
}

.pink__Soup {
    background-color: rgb(103 68 68 / 60%);
    height: 200px;
    width: 222px;
    /* top: 0px; */
    position: absolute;
    top: 0;
    z-index: 2;
}

.Soup__gadient {
    background: linear-gradient(rgb(8 3 3 / 30%),rgba(182,154,154,0.3));
    position: absolute;
    width: 222px;
    height: 200px;
    top: 0px;
    opacity: 1;
    z-index: 2;
}


.tinto__Soup a {
    color: rgb(249 249 249 / 80%);
}

.Soup2__border {
    top: 100px;
    left: -18px;
    border: solid 1px;
    position: absolute;
    width: 258px;
    /* border-style: ridge; */
    /* border: ridge 1px; */
    /* border-style: dashed; */
    /* opacity: 0; */
    z-index: 1;
    border-color: rgb(204 118 118);
    opacity: 0;
}

.tinto__Soup:hover .Soup__border {
    opacity: 1;
    transition: 1s;
    transform: rotate( 222deg);
}

.tinto__Soup:hover .Soup2__border {
    opacity: 1;
    transition: 1s;
    transform: rotate(-43deg);
}
.tenmonsoup {
    position: absolute;
    z-index: 4;
    width: 157px;
    top: 55px;
    left: 34px;
    text-align: center;
    font-family: monospace;
    font-weight: bolder;
    font-size: x-large;
    color: rgb(0 0 0 / 80%);
    text-decoration: none;
    opacity: 0;
    visibility: hidden;
}