body {
}

.ForgotPasswordpartial {
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    position: relative;
    top: -522px;
    left: 351px;
    background: linear-gradient(26deg, #878484, #0000004d);
    height: 228px;
    width: 440px;
    border-radius: 18px;
}

.form__forgotPassword {
    margin-left: 12px;
    display: flex;
    margin-top: -12px;
    position: relative;
    top: 26px;
}

.NoiDung__ForgotPassword {
    line-height: 30px;
    color: #b3b3b3;
    font-family: monospace;
    font-size: 15px;
}

.col-md-input-forgotPassword {
    margin-bottom: 30px;
}

h2.quenmatkhau {
    font-family: monospace;
    line-height: 59px;
    margin-left: 101px;
    color: rgb(245 222 179 / 65%);
}

input.btn.btnlogin.btnlogin__forget {
    width: 173px;
    left: 120px;
}
input#Email__UserNAme {
    width: 344px;
}
.ForgotPasswordpartial.ForgotPasswordpartial__show {
    opacity: 0;
    visibility: hidden;
    animation:ForgotPasswordpartial__show 1s forwards;
}
@keyframes ForgotPasswordpartial__show{
    0% {
        opacity: 0;
        visibility: hidden;
        transform:translateX(-1000px);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateX(0px);
    }
}