.Partialview__Loai__SP__CT {
    width: 203px;
    position: fixed;
    left: 1146px;
    top: 190px;
    background-color: #ffffff8c;
}
.List__LoaiSP {
    padding-left: 30px;
    font-family: monospace;
    font-size: 18px;
    padding-top: 14px;
}

.DS__loaiSP {
    line-height: 33px;
}

ul.TenLoai__sp {
    list-style: none;
}

.List__Loai__SP__partial {
    color: black;
}
a.Text__TenLoaiSp {
    text-decoration: auto;
    color: darkslateblue;
}
a.Text__TenLoaiSp:hover {
    transition: 0.5s;
    margin-left: 15px;
    color: black;
}