body {
}

.Header__img__BaiViet__HA1 {
    width: 200px;
    height: 200px;
}

.Header__img__BaiViet__HA2 {
    left: 0px;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0px;
    opacity: 0;
    visibility: hidden;
}

.Header__img__BaiViet__HA3 {
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.tin__all__BaiViet:hover .Header__img__BaiViet__HA2 {
    transition: 2s;
    z-index: 1;
    opacity: 1;
    visibility: visible;
}

.tin__all__BaiViet:hover .Header__img__BaiViet__HA3 {
    transition-delay: 5s;
    transition: 2s;
    z-index: 1;
    opacity: 1;
    visibility: visible;
}

.List__BaiViet {
    margin-bottom: -101px;
    width: 949px;
    position: relative;
    left: 176px;
    margin-top: 7px;
}

.Border__List__baiViet {
    /* transform: scale(1.2); */
    width: 170px;
    height: 170px;
    border-style: solid;
    border-width: 2px;
    position: absolute;
    top: 15px;
    z-index: 2;
    left: 13px;
    border-color: #8b41008a;
}

.background__shadow__List__baiViet {
    /* left: -13px; */
    background: linear-gradient(131deg, #b79292, #00000061);
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.Header__NoiDung__BaiViet__TenBaiViet {
    cursor: pointer;
    color: blanchedalmond;
    font-family: monospace;
    width: 170px;
    top: 63px;
    position: absolute;
    /* width: 164px; */
    z-index: 2;
    left: 15px;
    text-align: center;
    font-size: 18px;
}

.Header {
    position: relative;
    top: 0px;
}

.Header__NoiDung__BaiViet {
    cursor: context-menu;
    width: 685px;
    position: relative;
    top: -190px;
    left: 253px;
    line-height: 33px;
    font-family: monospace;
    font-weight: bolder;
    text-align: inherit;
}

h2.CONGTHUCNAUAN__LIST {
    margin-bottom: 73px;
    margin-top: -18px;
    position: relative;
    left: 174px;
    width: 300px;
    font-family: monospace;
    top: 38px;
}

a.a__list__baiviet {
    text-decoration-line: initial;
}

.tin__all__BaiViet:hover .background__shadow__List__baiViet {
    transition: 1s;
    opacity: 0;
    visibility: hidden;
}

.tin__all__BaiViet {
    height: 200px;
    position: relative;
    width: 200px;
}


    .tin__all__BaiViet:hover .Border__List__baiViet {
        transition: 1s;
        transform: scale(0);
        opacity: 0;
        visibility: hidden;
    }

    .tin__all__BaiViet:hover .a__list__baiviet {
        transition: 1s;
        color: #282020;
        font-weight: bold;
    }

header#Header {
    background: linear-gradient(21deg, #000000b8, transparent);
}

.Add__to__cart__price {
    cursor: pointer;
    height: 45px;
    border-radius: 25px;
    background: linear-gradient(45deg, #00000052, transparent);
    width: 243px;
}

img.icon__cart__price {
    width: 39px;
    margin-left: 16px;
    margin-top: 3px;
}
.ThemSP {
    position: relative;
    top: -48px;
    left: 80px;
}
.Add__to__cart__price:hover {
    animation: Add__to__cart__price 2s forwards;
}
@keyframes Add__to__cart__price{
    0%{
        transform:translateX(0px);
    }
    100% {
        transform: translateX(20px);
    }
}