
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["idQuyen"].ToString() == "1")
{
    <p>
        @Html.ActionLink("Abc", "abc")
    </p>
    <div>
        <h2 style="color: red; font-weight:bold; text-align:center">Thống Kê Sản Phẩm</h2>
    </div>
    <head>

        <title>Result Visualization</title>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    </head>
    <div>
        <div class="row" style="margin-top:10px">
            <div id="SanPham" class="col-md-3"></div>
        </div>
        <div id="columnchart_div"></div>
    </div>


    <script>
    window.onload = function () {
        $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: '@Url.Action("GetProductAnalytics", "ThongKe")',
                success: function (result) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {
                        drawChart(result);
                    });
                }
            });
    }

        function drawChart(result) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Tỉnh/Thành phố');
            data.addColumn('number', 'Số lượng sản phẩm đang bán');
            var dataArray = [];

            $.each(result, function (i, obj) {
                dataArray.push([obj.NameTypePost, obj.Quanity]);
            });
            data.addRows(dataArray);

            var columnChartOptions = {
                title: "Số lượng sản phẩm: ",
                width: 1000,
                height: 400,
                bar: { groupWidth: "20%" },
            };

            var columnChart = new google.visualization.ColumnChart(document.getElementById('columnchart_div'));

            columnChart.draw(data, columnChartOptions);
        }
    </script>
}
else if (Session["idQuyen"].ToString() != "1")
{
    <h1>
        BẠN KHÔNG THỂ VÀO PHẦN NÀY
    </h1>
}